POSTGRES_DB=v0_app
POSTGRES_USER=v0_user
POSTGRES_PASSWORD=v0_password_change_me

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_change_me

APP_ENV=dev
API_PORT=8080
JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_HOUR=168

REDIS_ADDR=redis:6379
